<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<input type="text" name="" id="">
<script>
  $("input").trigger("focus")
/*
  var url="http://test.yjzone.cn/home/account.json"
  var data={
    "jsonrpc": "2.0",
    "method": "login",
    "params": {
      "mobile":"18616799048",
      "password":"123456",
    },
    "auth": "",
    "id":21001
  }
  $.ajax({
    type: 'POST',
    url:  url,
    data: JSON.stringify(data),
    contentType: 'text/plain;charset=UTF-8',
    success: function (data) {
      console.log(data);
    },
    dataType: 'json'
  });
*/
/*
$.ajax({
  url:"http://gongtuo.qixincloud.com/api/v1/teams",
/!*
  beforeSend: function(request) {
    request.setRequestHeader({
        "Accept": "application/json"
      }
    );
  },
*!/
  data:JSON.stringify({
    name:"123456"
  }),
  dataType:"JSONP",
  type:"post",
  success:function (data) {
    console.log(data)
  },
  error:function () {
    alert(1)
  }
})
*/
</script>
</body>
</html>
