<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<input type="text" name="" id="">
<!--
<datalist>
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
  <option value="">5</option>
  <option value="">6</option>
  <option value="">7</option>
  <option value="">8</option>
  <option value="">9</option>
  <option value="">10</option>
</datalist>
-->
<script>
/*
  $("input").trigger("focus")
  $("select").change(function () {
    console.log(this.selectedIndex)
  })
*/
/*
  var data={
    "jsonrpc": "2.0",
    "method": "login",
    "params": {
      "mobile":"18616799048",
      "password":"123456",
    },
    "auth": "",
    "id":21001
  }
  */
var url="http://test.yjzone.cn/home/account.json"
var data={
  "jsonrpc": "2.0",
  "method": "findMateEntsByCat",
  "params": {
    "categoryId":"3"
  },
  "auth": "",
  "id":24010
}
  $.ajax({
    type: 'POST',
    url:  url,
    data: JSON.stringify(data),
    contentType: 'text/plain;charset=UTF-8',
    success: function (data) {
      console.log(data);
    },
    dataType: 'json'
  });
/*
$.ajax({
  url:"http://gongtuo.qixincloud.com/api/v1/teams",
/!*
  beforeSend: function(request) {
    request.setRequestHeader({
        "Accept": "application/json"
      }
    );
  },
*!/
  data:JSON.stringify({
    name:"123456"
  }),
  dataType:"JSONP",
  type:"post",
  success:function (data) {
    console.log(data)
  },
  error:function () {
    alert(1)
  }
})
*/
/*
console.log(new Date(1498443575494).toString().substring(4,15))
*/
</script>
</body>
</html>
